body{
    padding: 100px;
    background-color: white;
}

h1,h2{
    font-family: Arial;
    color: aqua;
}

ul{
    list-style: square;
}

ol{
    list-style-type: upper-roman;
    text-transform: uppercase;
}