body{
    margin:100px;
    background-color: white;
}

h1,h2{
    font-family: Arial, Helvetica, sans-serif;
    color:aqua;
}
ul{
    list-style-type: ;
}
ol{
    list-style-type: 'I';
    list-style-type: disc;
    list-style-type: ;
}