#T5{
    font-size: 18px;
}

h3{
    font-style: italic;
    font-weight: bold;
}

.S1{
    text-shadow: 6px 6px 1px yellow;
}

#paragraphe1{
    width: 300px;
}

div{
    text-align: center,justify;
}